# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# custom
build
.env
*.key
go.work
go.work.sum

# config file
secure.config

# built server
mario-kart-7-secure

# logs
log
