PrudpVersion=1
SignatureVersion=1
ServerPort=60003
KerberosKeySize=32
AccessKey=6f599f81
ServerName=Pretendo MK7 Secure
NexVersion=30500
AccountDatabaseIP=8.8.8.8
AccountDatabasePort=1000
NEXDatabaseIP=8.8.8.8
NEXDatabasePort=1000
DatabaseUseAuth=false
AccountDatabase=pretendo
PNIDCollection=pnids
NexAccountsCollection=nexaccounts
SplatoonDatabase=mk7
RoomsCollection=rooms
SessionsCollection=sessions
UsersCollection=users
RegionsCollection=regions
TournamentsCollection=tourneys