PrudpVersion=1
SignatureVersion=1
ServerPort=60003
KerberosKeySize=32
AccessKey=25dbf96a
ServerName=Pretendo MK8 Secure
NexVersion=30500
DatabaseIP=8.8.8.8
DatabasePort=1000
DatabaseUseAuth=false
AccountDatabase=pretendo
PNIDCollection=pnids
NexAccountsCollection=nexaccounts
MK8Database=mk8
RoomsCollection=rooms
SessionsCollection=sessions
UsersCollection=users
RegionsCollection=regions
TournamentsCollection=tourneys